In [1]:
 findspark.init('/home/spark/spark-2.1.0-bin-hadoop2.7')

NameError: name 'findspark' is not defined

In [6]:
import findspark

In [7]:
 findspark.init('/home/spark/spark-2.1.0-bin-hadoop2.7')

In [8]:
import spark

ImportError: No module named 'spark'

In [9]:
import pyspark

In [10]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [12]:
df = spark.read.json('people.json')

In [13]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [20]:
df.columns

['age', 'name']

In [21]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [22]:
df.schema()

TypeError: 'StructType' object is not callable

In [26]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [27]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [30]:
final_struc = StructType(fields = data_schema)

In [31]:
df = spark.read.json('people.json',schema = final_struc)

In [32]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [36]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
type(df['age'])

pyspark.sql.column.Column

In [39]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [41]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [43]:
df.head(2)[0]

Row(age=None, name='Michael')

In [44]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [45]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [47]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [48]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [49]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [50]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [51]:
df.createOrReplaceTempView('people')

In [52]:
results = spark.sql("select * from people")

In [54]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [55]:
new_results = spark.sql("select * from people where age= 30")

In [56]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+